body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 20px;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #upload {
    margin-bottom: 10px;
  }
  
  #searchButton {
    display: block;
    margin-bottom: 10px;
  }
  
  #result {
    margin-top: 20px;
    white-space: pre-wrap;
  }

  